// mat-grid-tile {
//    background: lightsalmon;
// }

.example-form {
   min-width: 98%;
   max-width: 98%;
   width: 98%;
}

.example-full-width {
   width: 99%;
}

.example-98-width {
   width: 98%;
}

.example-card {
   border-radius: 0px 0px 4px 4px;
}

.card_actions {
   text-align: end;
   padding: 0px 0px 8px 0px !important;
}

.example-form {
   align-items: initial;
}
